# /dataset_download/multimedia.txt
/dataset_download/multimedia.csv
/dataset_download/multimedia_save.txt
/detectron2
#/dataset_download/test
/calibration_cameraPhone/frames_camera0
/calibration_cameraPhone/frames_camera1
/calibration_cameraPhone/frames_pair
/calibration_cameraPhone/frames_camera0
/calibration_cameraPhone/frames_camera0
/stereo_calibration/frames_camera0
/stereo_calibration/frames_camera1
/stereo_calibration/frames_pair
/stereo_calibration/__pycache__
/Sementation/model
/sementation/__pycache__
/utils/__pycache__
/models/model_final.pth
/sementation/segmentation.py
/utils/__pycache__
/data/frames
actinia.mp4